<div id="user-info" class="well">
  <div class="text-center">
    <%= render 'shared/avatar', user: @user %><br>
    <h5><%= link_to @user.name, @user %></h5>
  </div>
  <h5>
    <%= fa_icon 'shield' %>
    <%= pluralize(@user.posts_count, 'post') %>
  </h5>
  <% if @user.dob.present? %>
    <h5>
      <%unless (@user.sex_id.nil?)%>
        <% if @user.sex_id == 3 %>
          <%= fa_icon 'smile-o' %>
        <%else%>
          <%= fa_icon Sex.find(@user.sex_id).sex.downcase %>
        <%end%>
      <%end%>
      <%= "#{pluralize(age(@user.dob), 'year')} old" %>
    </h5>
  <% end %>
  <% if @user.location.present? %>
    <h5>
      <%= fa_icon 'map-marker' %>
      <%= @user.location %>
    </h5>
  <% end %>
  <% if @user.country_id.nil? %>
    <h5>No country set.</h5>
  <% else %>
    <h5>
            <%= "     #{Country.find(@user.country_id).country_name}" %>
    </h5>
  <% end %>
  <br>
  <div class="text-center">
    <% unless is_current_user?(@user) %>
      <%= render 'follows/form', user: @user %>
      <h6><%= 'Follows you' if current_user.followed_by?(@user) %></h6>
    <% end %>
  </div>
</div>
