<div class="row">
  <div id="newsfeed" class="col-lg-6">
    <h4>Last News:</h4>
    <div id="activities">
      <% if @activities.empty? %>
        <div class="well">
          <%= render('shared/no_resource', resources: 'Activities') %>
        </div>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <%= render 'shared/paginate', resources: @activities %>
  </div>
  <div id="intro" class="col-lg-6">
    <h1>Welcome to Social Network!</h1>
    <hr>
    <div class="btn-group" role="group">
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success" %>
        <p>or</p>
          <%= link_to 'Sign in', user_session_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
